node_modules

auth-storage-states
test-reports
test-results
generated-feature-files
.env
.env_st
.env_prod
.eslintcache
artifacts
user_profile_generate_test_data.json
user_profile_generate_faker_test_data.json
.vscode
screenshot.png
.temp