# Standalone Pipeline to run Automated E2E tests on demand
# Using rsp-iras-qa repo

name: Run Playwright Tests

trigger:
  - main
  - dev

schedules:
  - cron: '0 0 * * *'
    displayName: 'Nightly run - full suite'
    branches:
      include:
        - main
    always: true

pool: 'rsp-manageddevopspool'

parameters:
  - name: platform
    displayName: Select a Platform
    type: string
    default: desktop
    values:
      - desktop
      - mobile
  - name: environment
    displayName: Select environment for test execution
    type: string
    default: STAutomation
    values:
      - STAutomation
      - PreProd
  - name: browser
    displayName: Select browser (only for desktop)
    type: string
    default: chromium
    values:
      - chromium
      - safari
      - firefox
      - microsoft edge
      - google chrome
  - name: mobile_os
    displayName: Select mobile OS type (only for mobile)
    type: string
    default: N/A
    values:
      - N/A
      - iOS
      - Android
  - name: android_device
    displayName: Select any Android Device (only for Android device)
    type: string
    default: N/A
    values:
      - N/A
      - Pixel 7
      - Galaxy S9+
      - Galaxy S9+ landscape
      - Galaxy S8
      - Pixel 5
      - Galaxy S20 Ultra
      - Galaxy S20 Ultra landscape
      - Samsung Galaxy Z Fold 3
      - Samsung Galaxy Z Fold 3 landscape
  - name: ios_device
    displayName: Select any iOS Device (only for iOS device)
    type: string
    default: N/A
    values:
      - N/A
      - iPhone 15 Pro
      - iPhone 15
      - iPhone 15 Plus
      - iPhone 15 Pro Max
      - iPhone 15 landscape
      - iPhone 14 Pro Max
      - iPad Mini 6
      - iPad Mini 6 landscape
      - iPhone 12 Pro Max
      - iPhone 12 Pro Max landscape
  - name: run_accessibility_tests
    displayName: Run Accessibilty Tests
    type: boolean
    default: false
  - name: devops_library_branch
    displayName: DevOps Library Branch
    type: string
    default: main
  - name: tests_run_timeout
    type: number
    displayName: Playwright Tests Run Timeout
    default: 300
  - name: run_sonarcloud_analysis
    displayName: Run SonarCloud Analysis
    default: true
variables:
  - group: 'Test Automation'

resources:
  repositories:
    - repository: library
      type: github
      name: 'HealthResearchAuthority/rsp-azure-devops-library'
      endpoint: AzureDevOpsToGitHubConnection
      ref: ${{ parameters.devops_library_branch }}

stages:
  - stage: E2EPlaywrightTests
    displayName: E2E Playwright Tests
    jobs:
      - template: jobs/e2e_tests.yaml@library
        parameters:
          platform: ${{ parameters.platform }}
          browser: ${{ parameters.browser }}
          mobile_os: ${{ parameters.mobile_os }}
          android_device: ${{ parameters.android_device }}
          ios_device: ${{ parameters.ios_device }}
          upload_to_sharepoint: true
          tests_run_timeout: ${{ parameters.tests_run_timeout }}
          run_accessibility_tests: ${{ parameters.run_accessibility_tests }}
          sonar_project_key: HealthResearchAuthority_rsp-iras-qa
          sonar_project_name: rsp-iras-qa
          run_sonarcloud_analysis: ${{ parameters.run_sonarcloud_analysis }}
